@import url("https://fonts.googleapis.com/css2?family=Gayathri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Gayathri:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  @apply bg-clip-text text-transparent bg-custom-gradient;
}

.gayathri-bold {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
